<div class="comments">
    {{#each this}}
    <div class="card-con">
        <p class="body">{{comment_text}}</p>
        <div class="footer">
            {{user.username}} on {{format_date created_at}}
            {{#if isLoggedIn}}
            <div>
                <span>
                    <button>Delete</button>
                    <button>Update</button>
                </span>
            </div>
            {{/if}}
        </div>
    </div>
    {{/each}}
</div>