<div class="card" style="width: 18rem;">
    <div class="card-header">
        {{post_title}}
    </div>
    <div class="card-body">
        <p class="card-body"> {{post_body}}</p>
        {{user.username}} on {{format_date created_at}}
    </div>
</div>