<section>
    <h2>Create New Post</h2>
    <form class="post">
        <div class="mb-3">
            <label for="post_title" class="form-label">Title</label>
            <input type="email" class="form-control" id="post_title" placeholder="Title">
        </div>
        <div class="mb-3">
            <label for="post_body" class="form-label">Post</label>
            <textarea class="form-control" id="post_body" rows="3"></textarea>
        </div>
    </form>
</section>

{{!-- {{#if posts.length}} --}}
<section>
    <h2>Your Posts</h2>
    <ol>
        {{#each posts as |post|}}
        <li>
            {{> postInfo post}}
            <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
        </li>
        {{/each}}
    </ol>
</section>
{{!-- {{/if}} --}}

<script src="/javascript/add-post.js"></script>