<link rel="stylesheet" href="/css/login.css">
<form class="login-form">
    <div>
        <h1>Login</h1>
    </div>
    <div class="login-groug">
        <span>
            <label for="username-login">Username:</label>
            <input type="text" id="username-login" />
        </span>
    </div>
    <div class="login-groug">
        <span>
            <label for="password-login">password:</label>
            <input type="password" id="password-login" />
        </span>
    </div>
    <div class="login-groug">
        <button type="submit">login</button>
        </span>
    </div>
</form>
<script src="./js/login.js"></script>