{{>postInfo post}}

{{!-- {{#if loggedIn}} --}}
<div class="post">
    <div class="mb-3">
        <label for="post_title" class="form-label">Title</label>
        <input type="email" class="form-control" id="post_title" placeholder="Title">
    </div>
    <div class="mb-3">
        <label for="post_body" class="form-label">post</label>
        <textarea class="form-control" id="post_body" rows="3"></textarea>
    </div>
</div>
{{!-- {{/if}} --}}

{{> comments post.comments}}

{{!-- {{#if loggedIn}} --}}
<script src="/javascript/comment.js"></script>
{{!-- {{/if}} --}}